<% include partials/header %>

<h1><%= campground.site %></h1>

<img src="<%=campground.url%>">

<p>
    <%= campground.description %>
</p>

<% campground.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>
<% include partials/footer %>